{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    // "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "api": "./src/client/api",
          "contexts": "./src/client/contexts",
          "components": "./src/client/components",
          "interfaces": "./src/client/interfaces",
          "pages": "./src/client/pages",
          "routes": "./src/client/routes"
        }
      }
    ]
  ]
}